body {
  background-color: #FFFFFF;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  color: #DF6E8E;
  padding-bottom: 10px;
}

h3 {
  text-align: center;
  color: #214194;
}

hr {
  color: #9AB7E0;
  padding-bottom: 20px;
  border-top: 10px dotted;
  width: 70px;
  opacity: 100%;
}

/*Nav bar begins*/
.navbar {
  padding: 0 20px 0 10px;
}

li {
  padding: 0.5em;
}

li:hover {
  background-color: #ebf3ff;
}

.flags-size {
  height: 30px;
  width: 30px;
}

/*Nav bar ends*/

/*Carousel begins*/
.carousel-inner>.item>img {
  width: 640px;
  height: 100vh;
}

/*Carousel ends*/

/*Lideres espirituales begins*/
.lideres-espirituales {
  display: flex;
}

.lideres-div {
  position: relative;
}

.lideres-nombres {
  display: flex;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.lideresimg {
  width: 421px;
  height: 540px;
  width: 95%;
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.juanita {
  color: #DF6E8E;
}

.aaron {
  padding-left: 300px;
  color: #DF6E8E;
}

.rosinin {
  padding-left: 240px;
  color: #DF6E8E;
}

/*Lideres espirituales ends*/

/*Doctrina begins*/
.container-doctrina {
  padding-bottom: 20px;
}

.mensj {
  text-align: center;
  color: #214194;
}

/*Doctrina ends*/

.timeline-img {
  height: 300px;
}

/* time line */

/* --- Start progress bar --- */

.process-wrapper {
  margin: auto;
  max-width: 1080px;
}

#progress-bar-container {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100px;
  margin-top: 65px;
}

#progress-bar-container ul {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  z-index: 9999;
  position: absolute;
  width: 100%;
  margin-top: -40px
}

#progress-bar-container li:before {
  content: " ";
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #aaa;
  transition: all ease 0.3s;

}

#progress-bar-container li.active:before,
#progress-bar-container li:hover:before {
  border: solid 2px #fff;

  background: #F9D0E1;
}

#progress-bar-container li {
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
  color: #aaa;
  font-size: 11px;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.2s;
  vertical-align: bottom;
  height: 60px;
  position: relative;
}

#progress-bar-container li .step-inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
  color: #444;
}

#progress-bar-container li:after {
  content: " ";
  display: block;
  width: 6px;
  height: 6px;
  background: #777;
  margin: auto;
  border: solid 7px #fff;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;

}

#progress-bar-container li:hover:after {
  background: #555;
}

#progress-bar-container li.active:after {
  background: #9AB7E0;
}

#progress-bar-container #line {
  width: 80%;
  margin: auto;
  background: #eee;
  height: 6px;
  position: absolute;
  left: 10%;
  top: 57px;
  z-index: 1;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
  content: " ";
  width: 3%;
  height: 100%;
  background: #9AB7E0;
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#progress-content-section {
  width: 90%;
  margin: auto;
  background: #f3f3f3;
  border-radius: 4px;
}

#progress-content-section .section-content {
  padding: 30px 40px;
  text-align: center;
}

#progress-content-section .section-content h2 {
  font-size: 27px;
  font-family: 'Montserrat', sans-serif;
  color: #DF6E8E;
  letter-spacing: 1px;
}

#progress-content-section .section-content p {
  font-size: 16px;
  line-height: 1.8em;
  color: #214194;
}

#progress-content-section .section-content {
  display: none;
  animation: FadeInUp 700ms ease 1;
  animation-fill-mode: forwards;
  transform: translateY(15px);
  opacity: 0;
}

#progress-content-section .section-content.active {
  display: block;
}

@keyframes FadeInUp {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.mas-historia {
  text-align: center;
  color: #4c6fb5;
}

.ver-mas {
  padding-bottom: 20px;
}

.servicio-social-container {
  display: flex;
}

.inc {
  width: 250px;
  height: 250px;
  margin-left: 135px;
}

.hola {
  padding-top: 20px;
}

.paises {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 5%;
}

/*Footer ----------------------------------------------------------------------------------------------------------*/
/*.footer-div {  
	position: absolute; 
	width: 100%; 
	padding: 15px 15px; 
	background-color: #DF6E8E;  
	color: white;  
	text-align: center;  
	}  

.fb {
	padding: 10px;
	
}

a i {
    text-decoration:none;
    color: white;
    \\Color: 214194
}*/

footer {
  background: #214194;
  height: 222px;
  width: 100vw;
  color: #fff;
}

@media (max-width: 435px) {
  footer {
    height: 250px;
  }
}

/*Iconos de social media*/
.socialMediaIcons {
  display: grid;
  height: 90px;
  width: 100%;
  place-items: center;
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper a:nth-child(1):hover .button .icon {
  background: #4267B2;
}

.wrapper a:nth-child(2):hover .button .icon {
  background: #ff0000;
}

.wrapper a:nth-child(3):hover .button .icon {
  background: #E1306C;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color: #000;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper a:nth-child(1) .button span {
  color: #4267B2;
}

.wrapper a:nth-child(2) .button span {
  color: #ff0000;
}

.wrapper a:nth-child(3) .button span {
  color: #E1306C;
}

.divider-icon {
  width: 100%;
  background-color: #214194;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.divider-icon img {
  width: 50px;
}

.divider-icon p::before {
  content: '';
  position: absolute;
  width: 40%;
  height: 10px;
  background: #DF6E8E;
  left: 0;
  margin-top: 23px;
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}

.divider-icon p::after {
  content: '';
  position: absolute;
  width: 40%;
  height: 10px;
  background: #DF6E8E;
  right: 0;
  margin-top: 23px;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}

.footer-bottom {
  width: 100vw;
  text-align: center;
}

.footer-bottom p {
  font-size: 17px;
  word-spacing: 2px;
  text-transform: capitalize;
  padding: 0 15px;
}